<div class="container">
  <div class="col-md-10 col-md-offset-1">
    <p>
      <h1>User Agreement</h1>
    </p>

    <p>This Agreement was last modified on 20th April 2015.</p>


    <p>
      This User Agreement describes the terms and conditions on which you are allowed to use our Website and our Services. We have incorporated by reference all linked information.
    </p>
    <p>
      <h2>
        In This User Agreement:
      </h2>
    </p>
    <p>
      <b>“Account”</b> means the account you open when you register on the Website.
    </p>

    <p>
      <b>“Buyer”</b> means a User that investigates and purchases Seller Services or items from Sellers or identifies a Seller through the Website.
    </p>

    <p>
      <b>“Contest”</b> means a contest that is solely promoted by a Buyer and in respect of which a Seller can submit an entry via the Website.
    </p>

    <p>
      <b>“Contest Brief”</b> means the document setting out the terms and conditions which are to apply to a Contest.
    </p>

    <p>
      <b>“Contest Handover”</b>, in respect of a Contest, means the agreement between the Buyer and winning Seller under which the Seller will transfer to the Buyer ownership of the winning entry.
    </p>

    <p>
      <b>“Dispute Resolution Process”</b> means the process to be followed by Buyers and Sellers in accordance with the Dispute Resolution Services.
    </p>

    <p>
      <b>“Entrant”</b> means an eligible Seller who has entered into a Contest.
    </p>

    <p>
      <b>“Jobby”</b>, <b>“we”</b>, <b>“our”</b>, or <b>“us”</b> means Jobby International Pty Limited.
    </p>

    <p>
      <b>“Inactive Account”</b> means a User Account that has not been logged into for a continuous 6 month period.
    </p>

    <p>
      <b>“Intellectual Property Rights”</b> means any and all intellectual property rights, existing worldwide and the subject matter of such rights, including: (a) patents, copyright, rights in circuit layouts (or similar rights), registered designs, registered and unregistered trade marks, and any right to have confidential information kept confidential; and (b) any application or right to apply for registration of any of the rights referred to in paragraph (a), whether or not such rights are registered or capable of being registered and whether existing under any laws, at common law or in equity.
    </p>

    <b>“Local Jobs”</b> means a service we provide to match a Buyer who has tasks that need doing with a Seller who will provide the service based on the location of the Seller.
    </p>

    <p>
      <b>“Milestone Payment”</b> means a prepayment made by the Buyer for the provision of Seller Services under a User Contract and which will be released in accordance with the section “Milestone Payments” below.
    </p>

    <p>
      <b>“Project”</b> or <b>“Listing”</b> means a job offered or awarded by a Buyer via the Website, which may include a Project or Contest listed by a Buyer, a project awarded by a Buyer (for example through HireMe), a service bought by a Buyer from a Seller, and service awarded by a Buyer to a Seller as a result of a Contest or competition hosted via the Website.
    </p>

    <p>
      <b>“Seller”</b> means a User that offers and provides services or identifies as a Seller through the Website.
    </p>

    <p>
      <b>“Seller Services”</b> means all services provided by Sellers.
    </p>

    <p>
      <b>“User”</b>, <b>“you”</b> or <b>“your”</b> means an individual who visits or uses the website
    </p>

    <p>
      <b>“User Contract”</b> means : (1) this User Agreement; (2) the <b>Code of Conduct</b> as amended from time to time; (3) any other contractual provisions accepted by both the Seller and Buyer uploaded to the Website, to the extent not inconsistent with the User Agreement and the Code of Conduct; and (4) the Project terms as awarded and accepted on the Website, to the extent not inconsistent with the User Agreement and the Code of Conduct.
    </p>

    <p>
      <b>“Website”</b> means the websites operated by Jobby and available at: <b>Jobby</b> and any related Jobby service, tool or application.
    </p>

    <p>
      <h2>
        1. Overview
      </h2>
    </p>
    <p>
      By accessing and/or using the Website, you agree to the following terms with Jobby.
    </p>

    <p>
      We may amend this User Agreement and any linked information from time to time by posting amended terms on the Website.
    </p>
    <p>
      The Website is an online venue where Users buy and sell Seller Services and items. Buyers and Sellers must register for an Account in order to buy or sell Seller Services and/or items. The Website enables Users to work together online to complete and pay for Projects, buy and sell items and to use the services that we provide.
    </p>

    <p>
      <h2>
        2. Scope
      </h2>
    </p>
    <p>
      Before using the Jobby Website, we recommend that you read the whole User Agreement, the Website policies and all linked information.
    </p>
    <p>
      You must read and accept all of the terms in, and linked to, this User Agreement, the Code of Conduct, the Jobby Privacy Policy and all Website policies. We strongly recommend that, as you read this User Agreement, you also access and read the hyperlinked information. By accepting this User Agreement, you agree that this User Agreement will apply whenever you use the Jobby Website, or when you use the tools we make available to interact with the Jobby Website. Some Jobby Websites may have additional or other terms that we provide to you when you use those services.
    </p>
    <p>
      <h2>
        3. Eligibility
      </h2>
    </p>
    <p>
      You will not use the Jobby Website if you:
      <ol class=termslist>
        <li>are not able to form legally binding contracts; or
        <li>are under the age of 16; or
        <li>a person barred from receiving and rendering services under the laws of Australia or other applicable jurisdiction; or
        <li>are suspended from using the Jobby Website.
      </ol>
    </p>
    <p>
      Subject to your local laws, a person over 15 but under 18 can use an adult's account with the permission of the account holder. However, the account holder is responsible for everything done with that account.
    </p>
    <p>
      Users may provide a business name or a company name, which is to be associated with the User's Account. Users acknowledge and agree that where a business name or company name is associated with their Account, this User Agreement is a contract with the User as an individual (not the business or company) and Users remain solely responsible for all activity undertaken in respect of their Account.
    </p>
    <p>
      We may, at our absolute discretion, refuse to register a person or corporate entity as a User.
    </p>

    <p>
      <h2>
        4. Using Jobby
      </h2>
    </p>
    <p>
      While using the Jobby Website, you will not:
      <ol class=termslist>
        <li>post content or items in inappropriate categories or areas on our websites and services;
        <li>infringe any laws, third party rights or our policies, such as the <b>Code of Conduct</b>;
        <li>fail to deliver payment for services delivered to you, unless the Seller has materially changed the Seller Service provided from the bid or a clear typographical error is made;
        <li>fail to deliver Seller Services purchased from you, unless the Buyer fails to meet the terms, materially alters the terms of the Seller Services from the listing;
        <li>circumvent or manipulate our fee structure, the billing process, or fees owed to Jobby;
        <li>post false, inaccurate, misleading, defamatory or offensive content (including personal information);
        <li>take any action that may undermine the feedback or reputation systems (such as displaying, importing or exporting feedback information or using it for purposes unrelated to the Jobby Website);
        <li>transfer your Jobby account (including feedback) and Username to another party without our consent;
        <li>distribute or post spam, unsolicited, or bulk electronic communications, chain letters, or pyramid schemes;
        <li>distribute viruses or any other technologies that may harm Jobby, the Website, or the interests or property of Jobby users (including their Intellectual Property Rights, privacy and publicity rights) or is unlawful, threatening, abusive, defamatory, invasive of privacy, vulgar, obscene, profane or which may harass or cause distress or inconvenience to, or incite hatred of, any person;
        <li>download and aggregate listings from our website for display with listings from other websites without our express written permission, "frame", "mirror" or otherwise incorporate any part of the Website into any other website without our prior written authorisation;
        <li>attempt to modify, translate, adapt, edit, decompile, disassemble, or reverse engineer any software programs used by us in connection with the Jobby Website;
        <li>copy, modify or distribute rights or content from the Jobby Website or Jobby's copyrights and trademarks; or
        <li>harvest or otherwise collect information about Users, including email addresses, without their consent.
      </ol>
    </p>

    <p>
    <h2>
    5. Intellectual Property Rights infringement
    </h2>
    </p>
    <p>
    It is our policy to respond to clear notices of alleged intellectual property rights infringement. Our <b>Copyright Infringement Policy</b> is designed to make submitting notices of alleged infringement to us as straightforward as possible while reducing the number of notices that we receive that are fraudulent or difficult to understand or verify. If you believe that your Intellectual Property Rights have been violated, please notify us via <b>link</b> our Website and we will investigate.
    </p>
    <p>
    <h2>
    6. Fees And Services
    </h2>
    </p>
    <p>
    We charge fees for certain services, such as introduction fees for Projects, listing upgrades and memberships. When you use a service that has a fee, you have an opportunity to review and accept the fees that you will be charged based on our schedule of <b>Fees and Charges</b>, which we may change from time to time and will update you by placing on our Website. We may choose to temporarily change the fees for our services for promotional events (for example, discounts on memberships) or new services, and such changes are effective when we post the temporary promotional event or new service on the Websites.
    </p>
    <p>
    Unless otherwise stated, all fees are quoted in United States Dollars.
    </p>
    <p>
    <h2>
    7. Taxes
    </h2>
    </p>
    <p>
    You are responsible for paying any taxes, including any goods and services or value added taxes, which may be applicable depending on the jurisdiction of the services provided. These taxes will be added to fees billed to you, if applicable.
    </p>
    <p>
    As we are a company incorporated in Australia, all fees earned by us from Australian Users will be subject to a 10% Goods and Services Tax (GST) on all fees, which will be shown separately on all invoices.
    </p>
    <p>
    You must also comply with your obligations under income tax provisions in your jurisdiction.
    </p>
    <p>
    <h2>
    8. Payment Administration Agent
    </h2>
    </p>
    <p>
    You acknowledge and agree that we may in our sole discretion, from time to time, appoint our related bodies corporate or a third party as our agent to accept or make payments (including merchant facilities) from or to Users on our behalf. Such a third party will have the same rights, powers and privileges that we have under this User Agreement and will be entitled to exercise or enforce their rights, powers and privileges as our agent or in their own name. In no event shall we be liable to any User for any loss, damage or liability resulting from the Payment Administration Agent's negligence and/or acts beyond the authority given by Jobby.
    </p>
    <p>
    <h2>
    9. Promotion
    </h2>
    </p>
    <p>
    We may display your company or business name, logo, images or other media, and public description of your Projects and profile as part of the Jobby Services and/or other marketing materials relating to the Jobby Website, except where you have explicitly requested that we do not do this and we have agreed to such request.
    </p>

    <p>
    <h2>
    10. Content
    </h2>
    </p>
    <p>
    When you give us content, you grant us a non-exclusive, worldwide, perpetual, irrevocable, royalty-free, sublicensable (through multiple tiers) right to exercise any and all copyright, trademark, publicity, and database rights (but no other rights) you have in the content, in any media known now or in the future.
    </p>
    <p>
    You acknowledge and agree that: (1) we only act as a portal for the online distribution and publication of User content. We make no warranty that User content is actually made available on the Website. We have the right (but not the obligation) to take any action deemed appropriate by us with respect to your User content; (2) we have no responsibility or liability for the deletion or failure to store any content, whether or not the content was actually made available on the Website; and (3) any and all content submitted to the Website is subject to our approval. We may reject, approve or modify your User content at our sole discretion.
    </p>
    <p>
    You represent and warrant that your content:
    <ol class=termslist>
    <li>will not infringe upon or misappropriate any copyright, patent, trademark, trade secret, or other intellectual property right or proprietary right or right of publicity or privacy of any person;
    <li>will not violate any law or regulation;
    <li>will not be defamatory or trade libellous;
    <li>will not be obscene or contain child pornography;
    <li>will not contain the development, design, manufacture or production of missiles, or nuclear, chemical or biological weapons
    <li>will not contain material linked to terrorist activities
    <li>will not include incomplete, false or inaccurate information about User or any other individual; and
    <li>will not contain any viruses or other computer programming routines that are intended to damage, detrimentally interfere with, surreptitiously intercept or expropriate any system, data or personal information.
    </ol>
    </p>
    <p>
    You acknowledge and agree that we may transfer your personal information to a related body corporate and your information may be transferred outside of Australia and the EEC-area. If you wish to withdraw your consent, you acknowledge and agree that we may be unable to provide you with access to the Website and Jobby Services and may close your Account.
    </p>
    <p>
    Information on the Website may contain general information about legal, financial, health and other matters. The information is not advice, and should not be treated as such. You must not rely on the information on the Website as an alternative to professional advice. If you have specific questions about any matter you should consult your professional adviser.
    </p>
    <p>
    We provide unmonitored access to third party content, including User feedback and articles with original content and opinions (or links to such third party content). We only act as a portal and have no liability based on, or related to, third party content on the Website, whether arising under the laws of copyright or other intellectual property, defamation, libel, privacy, obscenity, or any other legal discipline.
    </p>
    <p>
    The Website may contain links to other third party websites. We do not control the websites to which we link from the Website. We do not endorse the content, products, services, practices, policies or performance of the websites we link to from the Website. Use of third party content, links to third party content and/or websites is at your risk.
    </p>
    <p>
    <h2>
    11. Feedback, Reputation And Reviews
    </h2>
    </p>
    <p>
    You acknowledge that you transfer copyright of the feedback, reputation and reviews you leave consisting of comments and a multidimensional rating (e.g. quality, communication etc.) together with a composite rating by us. You acknowledge that such feedback, reputation and reviews belong solely to us, notwithstanding that we permit you to use it on our Website while you remain a User. You must not use, or deal with, such feedback, reputation and reviews in any way inconsistent with our policies as posted on the Website from time to time without our prior written permission.
    </p>
    <p>
    You may not do (or omit to do) anything that may undermine the integrity of the Jobby feedback system. We are entitled to suspend or terminate your Account at any time if we, in our sole and absolute discretion, are concerned by any feedback about you, or your feedback rating, where we believe our feedback system may be subverted.
    </p>
    <p>
    Our feedback ratings belong to us and may not be used for any purpose other than facilitating the provision of Seller Services via the Website. You may not use your Seller or Buyer feedback (including, but not limited to, marketing or exporting your any or all of your composite rating or feedback comments) in any real or virtual venue other than a website operated by Jobby or its related entities without our written permission.
    </p>
    <p>
    <h2>
    12. Advertising
    </h2>
    </p>
    <p>
    Unless otherwise agreed with us, you must not advertise an external website, product or service on the Website. Any website address posted on the Website, including in a listing, bid, listing description, clarification board or the message board, must relate to a project, contest, item listed, user or service being performed on the Website. An example of a permissible website address would be a portfolio of work.
    </p>
    <p>
    We may display sponsor advertisements and promotions on the Website. You acknowledge and agree that we shall not be responsible for any loss or damage of any kind incurred by you as as result of the presence of such advertisements/ promotions in the Website or your subsequent dealings with the Advertisers. Furthermore, you acknowledge and agree that content of sponsor advertisements or promotions is protected by copyrights, trademarks, service marks, patents or other intellectual property or proprietary rights and laws. Unless expressly authorised by Jobby or third party right holders, you agree not to modify, sell, distribute, appropriate or create derivative works based on such advertisement/promotions.
    </p>
    <p>
    <h2>
    13. Communication With Other Users
    </h2>
    </p>
    <p>
    You must not post your email address or other contact information on the Website, except in the "email" field of the signup form, at our request or as otherwise permitted by us on the Website.
    </p>
    <p>
    Unless you have a prior relationship with a User, you must only communicate with Users via the Website, including by using the Project message board, inbox private messaging or chat facilities including Video Chat. Unless we provide a User's contact information through a feature or function available through the Website, you must not, and must not attempt to, communicate with other Users in respect of Projects through any other means such as email, telephone, Skype, ICQ, AIM, MSN Messenger, GTalk and Yahoo.
    </p>
    <p>
    <h2>
    14. Right To Review
    </h2>
    </p>
    <p>
    We may read all correspondence posted to the Website and download or access, and test (if necessary), all uploaded files, programs and websites related to your use of the Website for the purpose of investigating fraud and for risk management and related purposes.
    </p>
    <p>
    <h2>
    15. Identity / Know Your Customer
    </h2>
    </p>
    <p>
    You authorise us, directly or through third parties, to make any inquiries we consider necessary to validate your identity. You must, at our request: (1) provide further information to us, which may include your date of birth and other information that will allow us to reasonably identify you; (2) take steps to confirm ownership of your email address or financial instruments; or (3) verify your information against third party databases or through other sources.
    </p>
    <p>
    You must also, at our request, provide copies of identification documents (such as your drivers' licence). We may also ask you to provide photographic identification holding a sign with a code that we provide as an additional identity verification step.
    </p>
    <p>
    We reserve the right to close, suspend, or limit access to your Account, the Website and/or Jobby Services in the event we are unable to obtain or verify to our satisfaction the information which we request under this section.
    </p>
    <p>
    If you are not Jobby verified you may not be able to withdraw funds from your Jobby account, and other restrictions may apply. See the <b>Know Your Customer and Identity Verification Policy</b> for more details.
    </p>

    <p>
    <h2>
    16. User Services
    </h2>
    </p>
    <p>
    Upon the Buyer awarding a project or contest to the Seller, and the Seller’s acceptance on the Website, or the purchase of an item by a Buyer from the Seller, the Buyer and Seller will be deemed to have entered into a User Contract under which the Buyer agrees to purchase, and the Seller agrees to deliver the Seller Services. You agree not to enter into any contractual provisions in conflict with the User Agreement.
    </p>

    <p>
    You are solely responsible for ensuring that you comply with your obligations to other Users. If you do not, you may become liable to that User. You must ensure that you are aware of any domestic laws (including common law), international laws, statutes, ordinances and regulations relevant to you as a Buyer or Seller, or in any other uses you make of the Website.
    </p>

    <p>
    If another User breaches any obligation to you, you are solely responsible for enforcing any rights that you may have. For the avoidance of doubt, we have no responsibility for enforcing any rights under a User Contract.
    </p>

    <p>
    Depending on their jurisdiction, Sellers and Buyers may have rights under statutory warranties that cannot lawfully be excluded. Nothing in this User Agreement is intended to override a right that by applicable law may not be excluded.
    </p>

    <p>
    Each User acknowledges and agrees that the relationship between Buyers and Sellers is that of an independent contractor. Nothing in this User Agreement creates a partnership, joint venture, agency or employment relationship between Users. Nothing in this User Agreement shall in any way be construed as forming a joint venture, partnership or an employer-employee relationship between Jobby and the User.
    </p>

    <p>
    <h2>
    17. Special provisions for Local Jobs
    </h2>
    </p>
    <p>
    Each User acknowledges:
    <ol class=termslist>
    <li>Jobby may from time to time include a map feature and Jobby may display the location of Users to persons browsing the Website on that map. Every Buyer seeking services for Local jobs will be asked to provide the location where the Local job is to be performed or the goods are to be delivered. A User must never disclose, in any Project posted, personal details such as the User's name, street number, phone number or the email address in any Project description for a Local job or in any other public communication on the Jobby Website.
    <li>Once a Seller's bid has been accepted by a Buyer seeking Local jobs services or tasks then the Seller providing the service or task is obliged to complete the transaction, unless the service or task, goods or transaction is prohibited by law, by this Agreement or by any of our Policies.
    <li>If a Buyer updates a Local job after it has been published on the Website, then all bids for that Local job made prior to the update will be automatically cancelled and the bidding process will restart. When a Seller has provided the goods or services or completed the task requested by a Buyer seeking services for Local job, the User must log on to the Website and click the “Complete” button for that Local job. Failure to complete the service or task will constitute a breach of this User Agreement.
    <li>Our fees are applied to the amount of the awarded Seller's bid to perform the services for the Local job.  Any items purchased by the Seller as part of performing the service are between the Buyer and Seller.
    </ol>
    </p>

    <p>
    <h2>
    18. Funds
    </h2>
    </p>
    <p>
    You may have funds in your Account if you have prepaid for fees or charges or for services to be provided to you via the Website. If you are a Seller, you may have funds if you have successfully completed a Project, or sold an item, and funds have been released to you. There are also circumstances where funds will have been credited to your Account in relation to an affiliate program or a referral program.
    </p>
    <p>
    Funds in your Account are held by us in our operating accounts held with reputable financial institutions. Funds in your Account are not held separately by us and may be commingled with our general operating funds and funds of other User's Accounts.
    </p>
    <p>
    You are not entitled to any interest, or other earnings for funds that are in your Account.
    </p>
    <p>
    We may receive interest on funds held by us in our operating accounts (which may include funds in your Account) from financial institutions with whom we hold our operating accounts. Any such interest earned belongs to us and we will not be liable to any User for any imputed interest on such funds.
    </p>
    <p>
    If your Account has a negative amount of funds, we may:
    <ol class=termslist>
    <li>set-off the negative amount of funds with funds that you subsequently receive into your Account;
    <li>if you have funds in multiple currencies in your Account and one of the currencies becomes negative for any reason, we may set-off the negative amount against funds you maintain in a different currency balance (at an exchange rate applied by us);
    <li>reverse payments you have made from your Account to other User Accounts on the Website;
    <li>deduct amounts you owe us from money you subsequently add or receive into your Account; or
    <li>immediately suspend or limit your Account until such time as your Account no longer has a negative amount.
    </ol>
    </p>
    <p>
    In the event that we offset a negative amount of funds pursuant to this section, it may be bundled with another debit coming out of your Account.
    </p>
    <p>
    We reserve the right to collect any funds owed to us by any other legal means.
    </p>
    <p>
    You acknowledge and agree that:
    <ol class=termslist>
    <li>we are not a bank or other licensed financial institution and do not provide banking services or any financial services to you;
    <li>the funds shown in your Account (which may include Milestone Payments and/or any prepayment of fees and charges which you owe to us) represents our unsecured obligations to you with respect to your rights to direct us to make payment in relation to the purchase and sale of Seller Services through the Website and provision of the Jobby Services;
    <li>to the extent that we are required to release funds from your Account to you, you will become our unsecured creditor until such funds are paid to you;
    <li>we are not acting as a trustee or fiduciary with respect to such funds or payments;
    <li>the amount of funds showing in your Account is not insured and is not a guaranteed deposit;
    <li>funds may only loaded into your Account, or released from your Account, by us and you must only use the mechanisms available on the Website to pay for, or receive funds in respect of Seller Services;
    <li>we will hold funds in respect of the amount of your Account (including Milestone Payments) in an account held by us with a financial institution (or in any manner that we decide in our sole discretion from time to time) and such funds are not segregated into a separate account; and
    <li>we may commingle your funds with funds of other User's and our own funds and such commingled funds could be used to pay other Users or for our general corporate purposes or otherwise, however, we will remain obliged to release or refund funds at your direction in accordance with this User Agreement.
    </ol>
    </p>
    <p>
    <h2>
    19. Limits & Fraud Prevention
    </h2>
    </p>
    <p>
    We reserve the right to suspend a User withdrawal request if the source of the funds is suspected to be fraudulent.
    </p>
    <p>
    If we become aware that any funds received into an Account from another Account as a result of a fraudulent transaction (e.g. paid a Milestone Payment using a stolen credit card) it will be reversed immediately. If those funds have already been released to you, you must pay the funds into your Account. If you do not do so, we may suspend, limit or cancel your account, or take action against you to recover those funds.
    </p>
    <p>
    We may, in our sole discretion, place a limit on any or all of the funds in your Account (thereby preventing any use of the funds) if:
    <ol class=termslist>
    <li>we believe there may be a high level of risk associated with you, your Account, or any or all of your transactions, including if we believe that there is a risk that such funds will be subject to reversal or chargeback;
    <li>we believe that the beneficiary of the payment is someone other than you;
    <li>we believe that the payment is being made to a country where we do not offer our Service; or
    <li>we are required to do so by law.
    </ol>
    </p>
    <p>
    If you are involved in a dispute, we may (in certain circumstances) place a temporary limit on the funds in your Account to cover the amount of any potential liability. If the dispute is resolved in your favour, we will lift the limit on your funds and those funds may be released to you. If the dispute is not resolved in your favour, we may remove the funds from your Account.
    </p>
    <p>
    <h2>
    20. Refunds
    </h2>
    </p>
    <p>
    You may ask for a refund at any time for any funds that you have paid into your Account except if the amount to refund relates to a Milestone Payment or relates to fees or charges payable to us.
    </p>
    <p>
    If the amount the User has asked to refund relates to: (1) a Milestone Payment, the Dispute Resolution Process may be followed; or (2) our fees and charges, the process set out in the Clause “Disputes with Us” must be followed.
    </p>
    <p>
    If we agree to the refund, the funds will be received by the User via the same payment method(s) that the User used to make the original payment to us. We may, in our sole discretion, use an alternative payment method in exceptional circumstances.
    </p>
    <p>
    We may refund funds to Users irrespective of whether a User has requested funds be refunded if: (1) we are required by law or consider that we are required by law to do so; (2) we determine that refunding funds to the User will avoid any dispute or an increase in our costs; (3) we refund funds to the User in accordance with any refund policy specified by us from time to time; (4) we find out that the original payment made by the User is fraudulent; (5) the User made a duplicate payment in error; or (6) we consider, in our sole opinion, that it is likely that the refund of funds is necessary to avoid a credit card chargeback.
    </p>
    <p>
    You can request a refund by using our <b>customer support website</b> or emailing us at <b>support@Jobby.com</b>. If you have done so, you must not initiate a chargeback request with your credit card issuer until such time as all reasonable efforts have been exhausted with us to resolve your request.
    </p>
    <p>
    If you have already initiated a chargeback request with your credit card issuer, you must not request a refund of funds by contacting us and must not seek double recovery.
    </p>
    <p>
    If we reasonably determine, having considered all the relevant circumstances, that you have made an excessive or unreasonable number of requests to refund funds back to you or chargebacks, we may suspend, limit or close your Account.
    </p>
    <p>
    There is no minimum amount for a refund.
    </p>

    <p>
    <h2>
    21. Withdrawals
    </h2>
    </p>

    <p>
    Your first withdrawal of funds earned will be delayed for fifteen days for security and fraud purposes.
    </p>

    <p>
    Subsequent withdrawals may be delayed for up to fifteen days where our fraud prevention policies dictate that a delay is required.
    </p>

    <p>
    We impose a minimum withdrawal amount for funds earned. This is set out in our schedule of <b>Fees and Charges</b>.
    </p>

    <p>
    We may require you to be Jobby Verified before you can withdraw funds from your Jobby account, irrespective of whether or not a delay has been enforced. For details of how to become verified please read the <b>Know your Customer and Identity Verification Policy</b>.
    </p>

    <p>
    You acknowledge and agree that we may seek to verify your identity or request additional information from you as part of our anti-fraud and Know Your Customer policy, as outlined in the section on “Identity / Know Your Customer” in this agreement. For more information see the <b>Know your Customer and Identity Verification Policy</b>.
    </p>

    <p>
      <h2>
        22. Chargebacks
      </h2>
    </p>
    <p>
      A chargeback (being a challenge to a payment that a Buyer files directly with their credit card issuer) and a reversal instruction is made by the payment product issuer or third parties (such as payment processors) and not by us. We are bound to follow their instructions.
    </p>
    <p>
      You acknowledge and agree that we will be entitled to recover chargebacks and reversals that may be imposed on us by a payment product issuer or third parties (such as payment processors) on funds paid to you by Buyers through the Website.
    </p>
    <p>
      You agree that we may reverse any such payments made to you, which are subject to chargeback or reversal instruction via your payment product issuer or third parties (such as payment processors).
    </p>

    <p>
      <h2>
        23. Inactive Accounts
      </h2>
    </p>
    <p>
      User Accounts that have not been logged into for a continuous period will incur a maintenance fee per month, until either the account is closed or reactivated, for storage, bandwidth, support and management costs of providing hosting of the User’s profile, portfolio storage, listing in directories, promotion of your profile on the website and elsewhere, provision of the HireMe service, file storage, message transmission and message storage.
    </p>
    <p>
      The length of the continuous period and the amount of the maintenance fee is set out in our schedule of <b>Fees and Charges</b>.
    </p>
    <p>
      We reserve the right to close an Inactive Account.
    </p>
    <p>
      We reserve the right to close an account with nil or negative funds.
    </p>
    <p>
      <h2>
        24. Right To Refuse Service
      </h2>
    </p>
    <p>
      We may close, suspend or limit your access to your Account without reason. Without limiting the foregoing, we may close, suspend or limit your access to your Account:
      <ol class=termslist>
        <li>if we determine that you have breached, or are acting in breach of, this User Agreement;
        <li>if you under-bid on any Project in an attempt to renegotiate the actual price privately, avoiding fees;
        <li>if we determine that you have breached legal liabilities (actual or potential), including infringing someone else's Intellectual Property Rights;
        <li>if we determine that you have engaged, or are engaging, in fraudulent, or illegal activities;
        <li>you do not respond to account verification requests;
        <li>you do not complete account verification when requested within 3 months of the date of request;
        <li>you are the subject of a United Nations, Australian, EU or USA sanctions regime, or our banking and payment relationships otherwise preclude us from conducting business with you;
        <li>to manage any risk of loss to us, a User, or any other person; or
        <li>for other similar reasons.
      </ol>
    </p>

    <p>
      If we close your Account due to your breach of this User Agreement, you may also become liable for certain fees as described in this User Agreement.
    </p>

    <p>
      Without limiting our other remedies, to the extent you have breached this User Agreement, you must pay us all fees owed to us and reimburse us for all losses and costs (including any and all of our employee time) and reasonable expenses (including legal fees) related to investigating such breach and collecting such fees.
    </p>

    <p>
    You acknowledge and agree that: (1) the damages that we will sustain as a result of your breach of this User Agreement will be substantial and will potentially include (without limitation) fines and other related expenses imposed on us by our payment processors and Users and that those damages may be extremely difficult and impracticable to ascertain; (2) if you breach this User Agreement, we may fine you up to US$3,000 for each breach and/or we may take legal action against you to recover losses that are in excess of the fine amount; (3) a fine of up to US$3,000 is a presently reasonable pre-estimate or minimum estimate of our damages, considering all currently existing circumstances, including (without limitation) the relationship of the sum to the range of harm to us that reasonably could be anticipated and the anticipation that proof of actual damages may be impractical or extremely difficult; and (4) we may release the entire (or part of the) amount of the fine from your Account to us.
    </p>

    <p>
      If we close your Account for a reason other than as a result of your breach of this User Agreement, unless as otherwise specified in this User Agreement, you will be entitled to receive any payment due from us to you.
    </p>

    <p>
      In the event that we close your Account, you will have no claim whatsoever against us in respect of any such suspension or termination of your Account.
    </p>

    <p>
      <h2>
        25. Milestone Payments
      </h2>
    </p>
    <p>
      We do not operate an escrow service. We do however, provide a service which allows controlled payments to be made with respect to a service called Milestone Payments.
    </p>

    <p>
      <div class="row text-center">
        <%= link_to 'I understand. Complete my registration.', new_user_registration_path, :class => "btn btn-action" %>
      </div>
    </p>
  </div>
</div>
